NAME=SEED-NODEJS-LOCAL
VERSION=0.0.1

PORT=3000
HOST=localhost
TZ=asia/jakarta

#mongodb
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USER=user
MONGODB_PASS=user123
MONGODB_NAME=seedDb

ELASTIC_APM_ENABLE=false
ELASTIC_APM_SERVICE_NAME=nodejs-seed
#ELASTIC_APM_SECRET_TOKEN=<token>
ELASTIC_APM_SERVER_URL=localhost
ELASTI_APM_PORT=8200

NODE_ENV=development