name: Preview

on: 
  push:
#   branches: [ master ] 
  pull_request:
    branches: [ master ] 
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Preview Branch
        uses: sapiderman/branch-preview-action@main
        with:
          dokku_key: ${{ secrets.DOKKU_KEY }}
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          domain: ${{ secrets.DOMAIN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}