name: Branch-Preview-SeedNode

on: 
  push:
#   branches: [ master ] 
  pull_request:
    branches: [ master ] 
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

#      - name: Mine Preview Branch
#        uses: sapiderman/branch-preview-action@main
        #  with:  
        #   dokku_key: ${{ secrets.DOKKU_KEY }}
        #   host: ${{ secrets.HOST }}
        #   port: ${{ secrets.PORT }}
        #   sudomain: ${{ secrets.DOMAIN }}
        #   github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Hyperjump Branch-Preview Action
        uses: hyperjumptech/branch-preview@v1.0.0
        with:
          dokku_key: ${{ secrets.DOKKU_KEY }}
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          domain: ${{ secrets.DOMAIN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}